/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: skyblue;
    border: none; 
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    /* background-position-y: -200px; */
}

textarea:focus, input:focus {
    outline: none;

}

a, label {
    font-size: .8rem; /*16 * .8 = x */

}

a:hover {
    color: black;

}


/* container login */

#login-container {
    background-color: brown;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: center;
}

/* formulário */

form {
    margin-top: 30px;
    margin-bottom: 40px;
}

label-input {
    display: block;
    width: 100%;
    text-align: center;
}

label {
    font-weight: bold;

}

input {
    border: 2px solid black;
    padding: 10px;
    font-size: 1rem;
    margin: 20px;
}

input:focus {
    border-bottom: 2PX solid darkgoldenrod;
    text-align: center;
}

#forgot-pass {
    text-align: center;
    display: block;
}

input[type="submit"] a {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin: 30px;
    color:  black;
    background-color: blue;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: darkslategray;
    transition: .5s;
}

/* rede social */

#social-container, #social-container p {
    margin-bottom: 20px;
}

#social-container i {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: royalblue;
    margin: 5px;
    cursor: pointer;
}

.fa fa facebook f {
    background-color: rebeccapurple;

}

/* registrar */

#register-container p {
    margin-bottom: 10px;
}